.symbol {
  font-size: 50px;
}

.symbol_correct {
  color: green;
}

.word_incorrect {
  background: red;
  color: #fff;
}

.timer {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

.timer__value {
  font-weight: bold;
  color: #d33;
}